<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Assignment 4</title>
</head>
<body>
    <%- include('./partials/nav.ejs'); %>
    <div class="mainbody">

        <div class="container text-white text-center headerset">
            <h2>Welcome To NeoSOFT Store</h2>
            <h1>IT'S NICE TO MEET YOU</h1>
            <a class="btn btn-warning text-white btn-lg" href="/getallproducts">STORE</a>
        </div>
    </div>

    <%- include('./partials/footer.ejs'); %>

</body>
</html>

